# Required python packages for the simulation

# Install all packages with `pip install -r requirements.txt`.
# To get a list of installed packages use `pip freeze`.


# General tools
matplotlib
numpy
pandas
pint
scipy


# For SNLO helper
pyautogui
pyperclip


# requires analysis.modules_JFK from the eg-labor repository.
